// Place all the styles related to the inteligencia controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body
{
font-style:italic;

  font-weight:bold;

  font-color:#ffffff;

  font-family:'Helvetica','Verdana','Monaco',sans-serif;

	}