<!DOCTYPE html>
<html>
<head>
  <title>Hello</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="/estilos/css/bootstrap.min.css">
	<link rel="stylesheet" href="/estilos/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="/estilos/css/main.css">
	<script src="/estilos/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
</head>
<body>
	<div class="navbar navbar-inverse" role="navigation">
	<div class="container-fluid">

		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Biblioteca</span>
				<span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/welcome/index">Jaccard</a>
		</div>

		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Biblioteca</span>
				<span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/entrenar/entrenar">Entrenar Classifier</a>
		</div>

		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Biblioteca</span>
				<span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/clasificar/clasificar">Clasificar con classifier</a>
		</div>

	
            
               
	</div>
</div>

<%= yield %>
<script src="/estilos/js/vendor/jquery-1.11.0.min.js"></script>
<script src="/estilos/js/vendor/bootstrap.min.js"></script>
<script src="/estilos/js/main.js"></script>
</body>
</html>
